:root {
  --black: #333;
  --gray: #666;
  --dark-blue: #095682;
  --blue: #9dcce4;
  --light-blue: #ebf5fa;
  --orange: #f89062;
  --red: #eb5757;
  --beige: #fef4ef;
  --white: #fff;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Aksent", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../../Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  /* header block of site */
}
body .header {
  min-width: 320px;
  min-height: 140px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-basis: content;
  /* navigation menu in header */
}
body .header > p {
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}
body .header .header__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  /* logo on header block */
  /* header buttons */
  /* favorites button */
}
body .header .header__container .header-logo {
  width: 310px;
  height: 90px;
  position: relative;
}
body .header .header__container .header-logo p {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-blue);
  text-align: end;
  text-wrap: nowrap;
  padding-right: 30px;
  padding-top: 35px;
}
body .header .header__container .header-logo .header-svg-1 {
  position: absolute;
  top: 10px;
  left: 50px;
}
body .header .header__container .header-logo .header-svg-2 {
  position: absolute;
  top: 10px;
  left: 70px;
}
body .header .header__container .header-logo .header-svg-3 {
  position: absolute;
  top: 10px;
}
body .header .header__container .header-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 836px;
  height: 90px;
  /* build house button */
  /* parnthership programm with masters button */
}
body .header .header__container .header-btn .header-build-house {
  flex-grow: 1;
  border-radius: 4px;
  padding: 10px 20px;
  width: 191px;
  height: 40px;
  cursor: pointer;
  background-color: var(--orange);
  border: 1px solid var(--gray);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
}
body .header .header__container .header-btn .header-masters-partnership {
  flex-grow: 1;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  padding: 10px 20px;
  width: 323px;
  height: 40px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--dark-blue);
}
body .header .header__container .header-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  width: 114px;
  height: 90px;
}
body .header .header__container .header-favorites .favorites {
  width: 114px;
  height: 24px;
  display: flex;
  justify-content: center;
}
body .header .header__container .header-favorites .favorites .sub-favorites {
  border-radius: 4px;
  width: 114px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  /* favorites icon */
}
body .header .header__container .header-favorites .favorites .sub-favorites > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--dark-blue);
}
body .header .header__container .header-favorites .favorites .sub-favorites .favorites-icon {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  /* favorites svg's */
}
body .header .header__container .header-favorites .favorites .sub-favorites .favorites-icon p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: var(--white);
  position: absolute;
  z-index: 1;
  right: 0;
  top: -3px;
}
body .header .header__container .header-favorites .favorites .sub-favorites .favorites-icon .favorites-svg-1 {
  fill: var(--dark-blue);
}
body .header .header__container .header-favorites .favorites .sub-favorites .favorites-icon .favorites-svg-2 {
  fill: var(--red);
  position: absolute;
  right: -3px;
  top: -3px;
}
body .header .menu {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 172px;
       column-gap: 172px;
  row-gap: 20px;
  background: var(--dark-blue);
  /* pages section */
  /* search engine inside site only for site */
  /* HEADER END */
}
body .header .menu .pages {
  max-width: 763px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
body .header .menu .pages > div {
  display: flex;
}
body .header .menu .pages .nav-menu {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header .menu .pages .header__main-page {
  flex-grow: 1;
  padding: 10px;
  min-width: 92px;
  height: 50px;
  display: flex;
  justify-content: center;
}
body .header .menu .pages .repair-page {
  flex-grow: 1;
  padding: 10px;
  min-width: 85px;
  height: 50px;
  display: flex;
  justify-content: center;
}
body .header .menu .pages .construction-page {
  flex-grow: 1;
  padding: 10px;
  min-width: 151px;
  height: 50px;
  display: flex;
  justify-content: center;
}
body .header .menu .pages .articles-page {
  flex-grow: 1;
  padding: 10px;
  min-width: 176px;
  height: 50px;
  display: flex;
  justify-content: center;
}
body .header .menu .pages .design__ideas-page {
  flex-grow: 1;
  padding: 10px;
  min-width: 179px;
  height: 50px;
  display: flex;
  justify-content: center;
}
body .header .menu .searcher {
  border-radius: 4px;
  padding: 0px 0px 0px 10px;
  width: 366px;
  height: 40px;
  overflow: hidden;
  background: var(--white);
}
body .header .menu .searcher form {
  display: flex;
  justify-content: space-between;
}
body .header .menu .searcher input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--gray);
  width: 100%;
  border: none;
  outline: none;
}
body .header .menu .searcher button {
  padding: 0px 20px;
  width: 86px;
  height: 40px;
  background: var(--blue);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
  border: none;
}
body .modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
}
body .modal .modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
body .modal .modal-panel {
  width: 80vw;
  height: 700px;
  display: none;
  z-index: 200;
  position: fixed;
  border-radius: 30px;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 1300px) and (min-width: 320px) {
  body .modal .modal-panel {
    overflow-y: scroll;
  }
}
body .modal .modal-panel .modal-panel-exit {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 10px;
  right: 10px;
  border: none;
  opacity: 0.3;
  background-position: center;
  background-size: cover;
  background-image: url(../../Images/close.png);
}
body .modal .modal-panel .modal-panel-exit:hover {
  opacity: 1;
}
body .modal .modal-panel .modal-choice {
  display: none;
  flex-direction: column;
  row-gap: 20px;
}
body .modal .modal-panel .modal-choice h2 {
  padding: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--black);
}
body .modal .modal-panel .modal-choice hr {
  border: 1px solid black;
}
body .modal .modal-panel .modal-choice .modal-choice-frame {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select {
  margin-bottom: 50px;
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select h3 {
  padding: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--blue);
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select .modal-img {
  width: 1fr;
  min-height: 300px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select .modal-img#ready-img {
  background-image: url(../../Images/ready-project-house.jpg);
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select .modal-img#make-img {
  background-image: url(../../Images/house-in-construction.jpg);
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select .modal-choice-btn {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  background-color: white;
  color: #000000;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select .modal-choice-btn:hover {
  color: var(--orange);
  border-color: var(--orange);
  box-shadow: 3px 3px 2px;
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select .modal-choice-btn:active {
  box-shadow: inset;
}
body .modal .modal-panel .modal-choice .modal-choice-frame .modal-choice-select:hover h3 {
  color: var(--orange);
}
body .modal .modal-panel .modal-partner {
  display: none;
  flex-direction: column;
}
body .modal .modal-panel .modal-partner h2 {
  padding: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--black);
}
body .modal .modal-panel .modal-partner hr {
  border: 1px solid black;
}
body .modal .modal-panel .modal-partner form {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
}
body .modal .modal-panel .modal-partner form input {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid black;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
body .modal .modal-panel .modal-partner form .partner-check {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .modal .modal-panel .modal-partner form .partner-check input {
  width: 100px;
  height: 100px;
}
body .modal .modal-panel .modal-partner form .partner-check label {
  flex-basis: 240px;
  min-width: 100px;
  padding: 5px;
  text-align: left;
  align-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
}
body .modal .modal-panel .modal-partner form .d-flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .modal .modal-panel .modal-partner form .d-flex h3 {
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  font-family: var(--font-family);
}
body .modal .modal-panel .modal-partner form button {
  width: 220px;
  height: 130px;
  align-self: center;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: var(--orange);
  font-weight: 700;
  font-family: var(--font-family);
  font-size: 30px;
}
body .modal .modal-panel .modal-partner-end {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
  align-items: center;
}
body .modal .modal-panel .modal-partner-end h2 {
  font-family: var(--font-family);
  font-size: 40px;
  text-align: center;
}
body .modal .modal-panel .modal-partner-end #master-exit {
  width: 350px;
  height: 150px;
  border: 3px solid #000000;
  border-radius: 15px;
  background-color: var(--orange);
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 700;
}
body .container {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
body .container .apartmen-repair {
  padding: 50px 16vw;
  max-width: 1920px;
  min-height: 600px;
  display: flex;
  align-items: center;
  background: url("../../Images/bg-repair__articles.png");
  background-position: center;
  background-size: cover;
}
body .container .apartmen-repair .apartmen-repair__content {
  max-width: 700px;
  min-height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container .apartmen-repair .apartmen-repair__content h2 {
  max-width: 700px;
  min-height: 68px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  color: var(--dark-blue);
}
body .container .apartmen-repair .apartmen-repair__content .apartmen-repair__txt {
  padding: 8px 0px;
  max-width: 700px;
  min-height: 181px;
}
body .container .apartmen-repair .apartmen-repair__content .apartmen-repair__txt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  text-wrap: wrap;
}
body .container .apartmen-repair .apartmen-repair__content button {
  border-radius: 4px;
  border: none;
  padding: 20px;
  width: 214px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
  text-align: center;
}
body .container .breadcrumb {
  padding: 16px 16vw;
  max-width: 1920px;
  min-height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--white);
}
body .container .breadcrumb p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-blue);
}
body .container .breadcrumb a {
  text-decoration: none;
}
body .container .breadcrumb a p {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 16px;
  color: var(--dark-blue);
}
body .container .repair-tips {
  padding: 20px 0px;
  max-width: 1920px;
  min-height: 1224px;
}
body .container .repair-tips h2 {
  padding: 20px 16vw;
  max-width: 1920px;
  min-height: 84px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--dark-blue);
  text-align: center;
}
body .container .repair-tips .repair-tips__content {
  padding: 20px 16vw;
  max-width: 1920px;
  min-height: 1100px;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles {
  max-width: 1300px;
  min-height: 1060px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card {
  outline: 1px solid var(--light-blue);
  border-radius: 6px;
  max-width: 1300px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: var(--white);
}
@media screen and (max-width: 1000px) and (min-width: 300px) {
  body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card {
    flex-wrap: wrap;
  }
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-img {
  flex-basis: 310px;
  min-height: 250px;
  flex-shrink: 1;
  background-position: center;
  background-size: cover;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-img#tip-img-1 {
  background-image: url(../../Images/roof-repair.png);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-img#tip-img-2 {
  background-image: url(../../Images/plumber-repair.png);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-img#tip-img-3 {
  background-image: url(../../Images/home-repair.png);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-img#tip-img-4 {
  background-image: url(../../Images/kitchen-repair.png);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content {
  flex-basis: 990px;
  min-height: 250px;
  flex-shrink: 10;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-title {
  padding: 10px 40px 10px 20px;
  max-width: 990px;
  min-height: 47px;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-title p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--dark-blue);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-text {
  padding: 10px 40px 10px 20px;
  max-width: 990px;
  min-height: 153px;
  display: flex;
  flex-wrap: wrap;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-text p {
  width: 100%;
  height: 100%;
  line-height: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-footer {
  max-width: 990px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-footer .repair-tips__card-footer__date {
  padding: 0px 20px;
  max-width: 804px;
  min-height: 20px;
  display: flex;
  flex-grow: 10;
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-footer .repair-tips__card-footer__date p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--gray);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__card-content .repair-tips__card-footer .repair-tips__card-footer__btn {
  border-radius: 4px 0 0 0;
  border: none;
  padding: 20px;
  min-width: 186px;
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}
body .container .repair-tips .repair-tips__content .repair-tips__articles .repair-tips__card .repair-tips__icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .container .design-tips {
  padding: 20px 0px;
  max-width: 1920px;
  min-height: 414px;
}
body .container .design-tips h2 {
  padding: 20px 16vw;
  max-width: 1920px;
  min-height: 84px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--dark-blue);
  text-align: center;
}
body .container .design-tips .design-tips__content {
  padding: 20px 16vw;
  max-width: 1920px;
  min-height: 290px;
}
body .container .design-tips .design-tips__content .design-tips__articles {
  max-width: 1300px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card {
  outline: 1px solid var(--light-blue);
  border-radius: 6px;
  max-width: 1300px;
  min-height: 250px;
  display: flex;
  position: relative;
  justify-content: center;
  background: var(--white);
}
@media screen and (max-width: 1000px) and (min-width: 300px) {
  body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card {
    flex-wrap: wrap;
  }
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-img {
  flex-basis: 310px;
  min-height: 250px;
  flex-shrink: 1;
  background-position: center;
  background-size: cover;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-img#tip-img-5 {
  background-image: url(../../Images/roof-repair.png);
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content {
  flex-basis: 990px;
  min-height: 250px;
  flex-shrink: 10;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-title {
  padding: 10px 40px 10px 20px;
  max-width: 990px;
  min-height: 47px;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-title p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--dark-blue);
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-text {
  padding: 10px 40px 10px 20px;
  max-width: 990px;
  min-height: 153px;
  display: flex;
  flex-wrap: wrap;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-text p {
  width: 100%;
  height: 100%;
  line-height: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-footer {
  max-width: 990px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-footer .design-tips__card-footer__date {
  padding: 0px 20px;
  max-width: 804px;
  min-height: 20px;
  display: flex;
  flex-grow: 10;
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-footer .design-tips__card-footer__date p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--gray);
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__card-content .design-tips__card-footer .design-tips__card-footer__btn {
  border-radius: 4px 0 0 0;
  border: none;
  padding: 20px;
  min-width: 186px;
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}
body .container .design-tips .design-tips__content .design-tips__articles .design-tips__card .design-tips__icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .container .other-headings {
  padding: 20px 10vw;
  max-width: 1920px;
  min-height: 974px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .other-headings h2 {
  padding: 20px 10vw;
  width: 100%;
  min-height: 84px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--dark-blue);
  text-align: center;
}
body .container .other-headings .other-headings__content-frame {
  padding: 20px 0px;
  width: 100%;
  min-height: 850px;
}
body .container .other-headings .other-headings__content-frame .other-headings__content {
  max-width: 100%;
  min-height: 810px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 {
  flex-basis: 310px;
  min-height: 810px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 .row-1__card {
  border-radius: 6px;
  min-height: 259px;
  min-width: 310px;
  overflow: hidden;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 .row-1__card .row-1__card-img {
  min-width: 310px;
  min-height: 202px;
  background-position: center;
  background-size: cover;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 .row-1__card .row-1__card-img#row-1__img-1 {
  background-image: url(../../Images/bathroom.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 .row-1__card .row-1__card-img#row-1__img-2 {
  background-image: url(../../Images/lamps.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 .row-1__card .row-1__card-img#row-1__img-3 {
  background-image: url(../../Images/garden.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-1 .row-1__card .row-1__card-text {
  padding: 16px;
  min-width: 310px;
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: var(--beige);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--dark-blue);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 {
  flex-basis: 648px;
  min-height: 810px;
  flex-grow: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__card {
  border-radius: 6px;
  min-height: 397px;
  min-width: 310px;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__card .row-2__card-img {
  min-width: 310px;
  min-height: 340px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Images/landscape.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__card .row-2__card-text {
  padding: 16px;
  min-width: 310px;
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--beige);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--dark-blue);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block {
  min-width: 310px;
  min-height: 397px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block__card {
  border-radius: 6px;
  min-height: 397px;
  min-width: 310px;
  flex-grow: 1;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block__card .block__card-img {
  min-width: 310px;
  min-height: 340px;
  background-size: cover;
  background-position: center;
  background-image: url(../../Images/micro-trends.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block__card .block__card-text {
  padding: 16px;
  min-width: 310px;
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: var(--beige);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--dark-blue);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block-row {
  min-width: 310px;
  min-height: 397px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block-row .block-row__card {
  border-radius: 6px;
  min-height: 190px;
  min-width: 310px;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block-row .block-row__card .block-row__card-img {
  min-width: 310px;
  min-height: 133px;
  background-size: cover;
  background-position: center;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block-row .block-row__card .block-row__card-img#block__img-1 {
  background-image: url(../../Images/textile.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block-row .block-row__card .block-row__card-img#block__img-2 {
  background-image: url(../../Images/topic.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-2 .row-2__block .block-row .block-row__card .block-row__card-text {
  padding: 16px;
  min-width: 310px;
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: var(--beige);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--dark-blue);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-3 {
  flex-basis: 310px;
  min-height: 810px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-3 .row-3__card {
  border-radius: 6px;
  min-height: 643px;
  min-width: 310px;
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-3 .row-3__card .row-3__card-img {
  min-width: 310px;
  min-height: 586px;
  background-size: cover;
  background-position: center;
  background-image: url(../../Images/decor-ideas.png);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-3 .row-3__card .row-3__card-text {
  padding: 16px;
  min-width: 310px;
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: var(--beige);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--dark-blue);
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-3 .row-3__article {
  border-radius: 6px;
  padding: 0px 20px;
  min-height: 150px;
  min-width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url("../../Images/article-bg.png");
}
body .container .other-headings .other-headings__content-frame .other-headings__content .other-headings__row-3 .row-3__article .row-3__article-btn {
  border: 1px solid var(--white);
  border-radius: 6px;
  padding: 10px 20px 12px 20px;
  min-width: 270px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}
body .container .create-helper {
  padding: 50px 10vw;
  max-width: 1920px;
  min-height: 470px;
  background: url("../../Images/bg-helper.png"), rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
body .container .create-helper .create-helper__content {
  border: 2px solid var(--white);
  border-radius: 6px;
  padding: 20px 20px 0px 20px;
  max-width: 1300px;
  min-height: 372px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
}
body .container .create-helper .create-helper__content .create-helper__image {
  width: 350px;
  min-height: 350px;
  background: url("../../Images/helper.png");
  background-position: center;
  background-size: cover;
}
body .container .create-helper .create-helper__content .create-helper__content-txt {
  padding: 20px 0px 30px 0px;
  max-width: 850px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
body .container .create-helper .create-helper__content .create-helper__content-txt h2 {
  max-width: 850px;
  min-height: 88px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--white);
}
body .container .create-helper .create-helper__content .create-helper__content-txt .create-helper__txt {
  border-radius: 6px;
  padding: 0px 40px;
  max-width: 850px;
  min-height: 99px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--white);
}
body .container .create-helper .create-helper__content .create-helper__content-txt .create-helper__btn {
  border-radius: 4px;
  border: none;
  padding: 20px 40px;
  width: 256px;
  height: 60px;
  background: var(--orange);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}
body .footer {
  min-width: 320px;
  min-height: 279px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-blue);
}
body .footer .footer-content {
  max-width: 1300px;
  min-height: 209px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
body .footer .footer-content .footer-socials {
  padding: 20px 0px;
  width: 414px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body .footer .footer-content .footer-socials .footer-logo {
  width: 310px;
  height: 90px;
  position: relative;
}
body .footer .footer-content .footer-socials .footer-logo p {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 36px;
  text-wrap: nowrap;
  color: var(--white);
  position: absolute;
  left: 40px;
  top: 35px;
}
body .footer .footer-content .footer-socials .footer-logo svg {
  fill: var(--white);
}
body .footer .footer-content .footer-socials .footer-logo #footer-line-1 {
  position: absolute;
  left: 65px;
  top: 10px;
}
body .footer .footer-content .footer-socials .footer-logo #footer-line-2 {
  position: absolute;
  left: 45px;
  top: 10px;
}
body .footer .footer-content .footer-socials .footer-logo #footer-long-line {
  position: absolute;
  left: 0;
  top: 10px;
}
body .footer .footer-content .footer-socials .footer-social-accounts {
  width: 176px;
  height: 30px;
  display: flex;
  gap: 18.75px;
}
body .footer .footer-content .footer-info {
  max-width: 856px;
  min-height: 209px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
body .footer .footer-content .footer-info .footer-list {
  padding: 20px 0px;
  width: 265px;
  height: 209px;
  display: flex;
  flex-direction: column;
}
body .footer .footer-content .footer-info .footer-list .footer-list__name {
  padding: 0px 0px 10px 0px;
  width: 200px;
  height: 49px;
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  gap: 10px;
}
body .footer .footer-content .footer-info .footer-list .footer-list__name p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
body .footer .footer-content .footer-info .footer-list .footer-list__name .footer-list__line {
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
body .footer .footer-content .footer-info .footer-list .footer-list__item {
  width: 265px;
  height: 40px;
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  border-bottom: 1px solid var(--blue);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}
body .footer .footer-content .footer-info .footer-contacts {
  padding: 20px 0px;
  width: 265px;
  height: 196px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .footer .footer-content .footer-info .footer-contacts .footer-contact__links {
  width: 200px;
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .footer .footer-content .footer-info .footer-contacts .footer-contact__links .footer-contact__name {
  width: 200px;
  height: 39px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .footer .footer-content .footer-info .footer-contacts .footer-contact__links .footer-contact__name p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
body .footer .footer-content .footer-info .footer-contacts .footer-contact__links .footer-contact__name .footer-contact__name-line {
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
body .footer .footer-content .footer-info .footer-contacts .footer-contact__links .footer-contact__icons {
  padding: 0px 10px 10px 10px;
  width: 200px;
  height: 40px;
  display: flex;
  gap: 20px;
}
body .footer .footer-content .footer-info .footer-contacts .footer-contact__links p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
}
body .footer .footer-content .footer-info .footer-contacts p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
}
body .footer .footer-copyright {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--white);
}/*# sourceMappingURL=style.css.map */